#smartphone-img { 
   display: none;
}

@media (max-width: 48em) { /* Apenas no mobile */
    #smartphone-img {
        display: block; /* Mostra a imagem no mobile */
        margin-top: 5rem;
    }
}

section { 
    & header { 
     & strong {
        display: block;
        font: var(--fw-md) var(--fs-sm)/100% var(--ff-sans);
        letter-spacing: 0.08em;
        text-transform: uppercase;

        color: var(--brand-color-primary);
     }
    
     & h2 {
        margin-top: .5rem;


     }
    }

    & p { 
        margin-top: .5rem;
        color: var(--text-color-secondary);
    }
}


@media (max-width: 768px) { 
    .cards {
        grid-auto-flow: row; /* Faz os cards ficarem empilhados */
        gap: 1rem; /* Ajusta o espaçamento entre os cards */
    }

    .card {
        width: 100%; /* Faz os cards ocuparem toda a largura disponível */
        padding: 1rem; /* Adiciona mais respiro dentro dos cards */
    }

    /* Ajusta os tamanhos de fonte no mobile */
    h3 {
        font-size: 1.5rem;
    }

    .card p, zin-pricing {
        font-size: 1.2rem;
    }

    zin-pricing {
        padding-block: 1rem;
    }

}