.py-base { 
 padding-block: var(--py-base);

}

.py-lg { 
    padding-block: var(--py-lg);
   
   }

   .py-xl { 
    padding-block: var(--py-xl);
   
   }

   .px-lg { 
    padding-block: var(--px-lg);
   
   }

   /* aplicando essa em alguma div, no desktop aparece, no mobile nao aparece */
   .desktop-only { 
    display: none;
   }

   
.even-columns { 
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
   } 


   .flex { 
     display: flex;
   }

   .itens-center { 
    align-items: center;
   }

   .gap-1 { 
     gap: 1rem;
   }

   .gap-1-5 { /* coloquei essa barra invertida apenas para o html reconhecer como "texto" pois nao tem como criar classe com . por exeplo "class="gap-1.5rem" nao tem como  */
    gap: 1.5rem;
   }


   .grid { 
    display: grid;
   }


.container {
    --max-width: 375px; /* variavel que funciona para fator maximo da tela, mobile */
    width: min(var(--max-width), 100% - var(--px-lg) * 2); 
    margin-inline: auto;
    /*border: solid violet; */
    }

@media (width >= 80em) { 
     .container { 
        --max-width: 80rem; 
        
     }

     .desktop-only { 
         display: initial;
     }
}